.services .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.services .icon-box::before {
  content: '';
  position: absolute;
  background: var(--bs-warning);
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: var(--bs-primary);
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #e43c5c;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  /*margin-bottom: 15px;*/
  font-size: 1.2em;
  text-decoration: line-through wavy var(--bs-primary) 1px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 21px;
  /*margin-bottom: 0;*/
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}

.services {
  padding-bottom: 30px;
}

.services .icon-box:hover .icon i {
  color: var(--bs-body-bg);
}

.pSubHeading {
  width: max(60%, 280px);
}

.subTitle {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1rem;
}

.skill-tag:hover {
  background: var(--bs-primary);
  color: var(--bs-body-bg);
  transform: translateY(-3px);
}

